#search-results {
	background-image: linear-gradient(to top left, #fad25da3, #fbbd08);
}

#search-message {
	font-family: 'Didact Gothic', sans-serif;
	font-weight: none;
	font-size: 2.5vw;
	text-align: center;
	padding-top: 50px;

}
#shared-two-column {
	margin: 50px;
}

#single-tiles {
	width: 200px;
	margin: 30px;
	/*text-align: center;*/
}

#tile-image {
	/*width: 100%;
	content: url(/assets/destination.png);*/
}

#city-label {
	padding-left: 40px;
	padding-right: 40px;
	opacity: 1;
	color: white;
	background-color: black;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#statistic-row {
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid #000;
}

#meta-source {
	padding-top: 30px;
}

#banner-container {
	width:50%;
}

.ui .statistic>.value {
	font-size: 2.5rem!important;
	text-align: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}