<div class="row">
  <div class="sixteen wide column" id="banner">
    <div class="two wide column">
      <div class="row" id="title-row">
        <div class="ui header" id="title">Vacation City</div>
    </div>
  </div>
    <div class="row" id="slogan-row">
      <div class="two wide column">
        <div class="ui header" id="slogan">Choose your next travel destination based on the weather.</div>
      </div>
    </div>
    <div class="row" id="start-button-row">
      <div class="two wide column">
        <div class="ui orange huge button" id="start-button">Get Started <i class="right arrow icon"></i></div>
      </div>
    </div>
  </div>
</div>
<hr>
<h3>
  <app-input-form></app-input-form>
</h3>
<hr>
