
#sun {
}

#banner {
	background-image: url(/assets/cropped.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 900px;
}

#title-row{
	min-height: 2vw;
	/*padding: 50px;*/
}


#title {
	font-family: 'Kirang Haerang', cursive;
	font-size: 8vw;
	color: black;
	letter-spacing: 8px;
	text-align: center;
	padding-top: 50px;
}

#slogan-row {
	margin: 20px 100px 20px 100px;
	/*padding-top: 100px;*/
	/*padding: 50px 50px 0px 50px;*/
}

#slogan {
	font-size: 3vw;
	text-align: center;
		font-family: 'Didact Gothic', sans-serif;
	letter-spacing: 3px;
}


#start-button-row {
	margin: 10px 100px 0px 100px;
	padding-bottom:70px;
	padding-top: 50px;
	text-align: center;
}

#start-button{
	box-shadow: 0 6px #c1530b;
	border-radius: 40px;
	background-color: #ff8a00;
	color: #fff;
}

#start-button:hover {
	box-shadow: 0 4px #c1530b;
	top: 2px;
	background-color: #e67a00
}

#start-button:active {
	box-shadow: 0 0 #e67a00;
	top: 6px;
}


#down-arrow {
	padding-left: 10px;
}

/*.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
*/


#input-form {
	text-align: center;
	background-image: linear-gradient(to bottom right, #8cd98c, #339933);
	font-family: 'Didact Gothic', sans-serif;
	letter-spacing: 2px;
	padding-top: 80px;
}